/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2018, 12:43:20 PM
    Author     : jesanchez9301
*/
#footer{
    alignment-adjust: baseline;
}
table{
    background: beige;
    outline-color: brown;
  
}
h1{
  font-family: 'Staatliches', cursive;
    
}
h3{
   font-family: monospace;
}
